
:host ::ng-deep .p-datatable>.p-datatable-wrapper{
height: 450px;
}

.grid{
  width: 50%;
    margin-left: 25rem;
    .search-box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 3rem;
      .clear{
        background-color: transparent;
        color: #3B82F6;
        border-color: transparent;
        border-radius: 50%;
      }
    }
    .progressSpinner{
      position: fixed;
      z-index: 9;
      margin: 30px;
      margin-left: 15rem;
    }
    .tableGrid{
      a{
        color: darkcyan;
      }
      a:hover {
        color: black;
        text-decoration: underline;
        }
    }

}

:host ::ng-deep .p-button.p-button-icon-only{
  background-color: transparent;
  color: #3B82F6;
  border-color: transparent;
  border-radius: 50%;
}