

<div style="height: 600px;">
  <div class="login">
    <div class="heading">
      <h2>Connect to my invester</h2>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" [(ngModel)]="username">
      </div>
      <div style="color: red;" *ngIf="error">
        Username or email is required.
      </div>

    </div>
    <div style=" text-align: center;margin-top: 1rem;">
      <p-button   label="Connect" class="btn" [raised]="true"  (onClick)="connect()" size="large" severity="secondary"></p-button>
    </div>

  </div>
</div>
